header{
    background: black;
    height: 40px;
}

header li {
  /* float: left; */
  display: inline;
  padding: 20px 20px 0 10px;
}
header a {
  color: #ffffff;
  text-decoration: none;
  font-size:20px;
}
header nav {
  /* float: right; */
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 20px;
  color: #fff;
}
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #e8491d;
  font-weight: bold;
}